site_name: Wormhole Docs
site_url: https://wormhole.com/docs/
docs_dir: wormhole-docs
copyright: 2024 © Wormhole Foundation. All Rights Reserved.
edit_uri: https://github.com/wormhole-foundation/wormhole-docs/edit/main/
extra_css:
  - assets/stylesheets/extra.css
  - assets/stylesheets/terminal.css
theme:
  name: material
  custom_dir: material-overrides
  favicon: assets/images/favicon.webp
  logo: assets/images/wormhole.webp
  features:
    - content.code.annotate # Adds annotations to code blocks
    - content.code.copy # Adds copy to clipboard button to code snippets
    - content.tooltips # Adds tooltips
    - navigation.footer # Shows previous and next on the footer
    - navigation.tabs # Top-level sections are rendered below the header (can be modified to in-line with CSS)
    - navigation.tabs.sticky # When scrolling, the tabs remain at the top of the page
    - navigation.sections # Render top-level sections as groups in the sidebar
    - navigation.indexes # Index pages
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    admonition:
      note: octicons/pencil-16
      warning: octicons/alert-16
validation:
  absolute_links: ignore
  unrecognized_links: ignore
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite
  - md_in_html
  - meta 
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets:
      base_path: wormhole-docs/.snippets
      url_download: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      title: Sections
      permalink: ＃
plugins:
  - search
  - awesome-pages
  - glightbox:
      skip_classes:
        - no-lightbox

  - redirects:
      redirect_maps:
        # Redirects will go here as pages get moved around in the following format:
        # old-page.md: new-page.md
        build/applications/connect/configuration-v0.md: build/applications/connect/configuration/index.md
        build/applications/connect/configuration-v1.md: build/applications/connect/configuration/index.md
        build/start-building/supported-networks/algorand.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/aptos.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/cosmos/gateway.md: build/start-building/supported-networks/cosmos.md
        build/start-building/supported-networks/cosmos/cosmos.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/cosmos.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/evm.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/near.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/solana.md: build/start-building/supported-networks.md
        build/start-building/supported-networks/sui.md: build/start-building/supported-networks.md
        build/contract-integrations/gateway.md: build/start-building/supported-networks/cosmos.md
        learn/messaging/gateway.md: learn/messaging/index.md
        tutorials/by-product/native-token-transfers/index.md: tutorials/by-product/index.md
        tutorials/by-product/native-token-transfers/multichain-token.md: tutorials/by-product/multichain-assets/multichain-token.md
        tutorials/messaging/cctp.md: tutorials/by-product/wormhole-sdk/usdc-via-cctp.md
        tutorials/messaging/cross-chain-contracts.md: tutorials/by-product/contract-integrations/cross-chain-contracts.md
        tutorials/messaging/cross-chain-token-contracts.md: tutorials/by-product/contract-integrations/cross-chain-token-contracts.md
        tutorials/messaging/index.md: tutorials/by-product/index.md
        tutorials/messaging/sui-connect.md: tutorials/by-product/connect/react-dapp.md
        tutorials/messaging/token-bridge.md: tutorials/by-product/wormhole-sdk/tokens-via-token-bridge.md
        tutorials/multigov/index.md: tutorials/by-product/multigov/index.md
        tutorials/multigov/treasury-proposal.md: tutorials/by-product/multigov/treasury-proposal.md
      
  - macros:
      include_yaml:
        - wormhole-docs/variables.yml
extra:
  consent:
    title: Cookie consent
    description: This site uses cookies to deliver its service and to analyze traffic. By browsing this site, you accept the <a href="https://wormhole.com/pages/data-protection-and-privacy-policy" target="_blank" rel="noopener">privacy policy</a>.
    actions:
      - accept
      - reject
  generator: false
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/wormhole
      name: Twitter
    - icon: fontawesome/brands/discord
      link: https://discord.gg/wormholecrypto
      name: Discord
    - icon: telegram
      link: https://t.me/wormholecrypto
      name: Telegram
    - icon: fontawesome/brands/github
      link: https://github.com/wormhole-foundation/wormhole
      name: GitHub
    - icon: docs
      link: https://wormhole.com/docs/
      name: Docs
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@wormholecrypto
      name: YouTube
  analytics:
    provider: google
    property: G-SGJJFZS9BB
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by submitting
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdRjp_CJ2jEC0gPvK242zRzJoN_x9-Nlt_KXkCy7QPYiD4OlA/viewform?usp=pp_url&entry.2090824420=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">additional feedback</a>.
