{% extends "main.html" %}

{% block htmltitle %}
  <title>Wormhole Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{% block content %}
  <div class="md-typeset">
    <div class="hero">
      <h1>Wormhole Documentation</h1>
      <p>Access all the information and resources you need to develop secure multichain applications powered by Wormhole.</p>
    </div>
    <div class="features">
      <h2>Explore by product</h2>
      <div class="row">
        <a class="card" href="/docs/products/native-token-transfers/overview/">
          <img src="./assets/images/dropdown-icons/transfers.svg" alt="Native Token Transfers">
          <div class="column">
            <h3>Native Token Transfers</h3>
            <p>Move native tokens across chains.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/settlement/overview/">
          <img src="./assets/images/dropdown-icons/settlement.svg" alt="Settlement">
          <div class="column">
            <h3>Settlement</h3>
            <p>Bridge faster with intent-based routing.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/connect/overview/">
          <img src="./assets/images/dropdown-icons/connect.svg" alt="Connect">
          <div class="column">
            <h3>Connect</h3>
            <p>Drop a bridging widget into your app.</p>
          </div>
        </a>
      <!-- </div>
      <div class="row"> -->
        <a class="card" href="/docs/products/token-bridge/overview/">
          <img src="./assets/images/dropdown-icons/multichain-assets.svg" alt="Token Bridge">
          <div class="column">
            <h3>Token Bridge</h3>
            <p>Bridge assets via lock and mint.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/queries/overview/">
          <img src="./assets/images/dropdown-icons/queries.svg" alt="Queries">
          <div class="column">
            <h3>Queries</h3>
            <p>Retrieve on-chain data on demand.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/multigov/overview/">
          <img src="./assets/images/dropdown-icons/multigov.svg" alt="MultiGov">
          <div class="column">
            <h3>MultiGov</h3>
            <p>Create governance solutions.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="features">
      <h2>Level up with tutorials</h2>
      <div class="row">
        <a class="card" href="/docs/products/messaging/tutorials/cross-chain-contracts/">
          <div class="column">
            <h3>Create messaging contracts</h3>
            <p>Deploy contracts on two testnets and learn how to send and receive messages across chains.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/cctp-bridge/tutorials/complete-usdc-transfer/">
          <div class="column">
            <h3>Create a token transfer app</h3>
            <p>Build a cross-chain token transfer application using the Wormhole TypeScript SDK and Token Bridge.</p>
          </div>
        </a>
        <a class="card" href="/docs/products/connect/tutorials/react-dapp/">
          <div class="column">
            <h3>Create a React bridging app</h3>
            <p>Enable seamless multichain transactions with minimal setup with React and Connect.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
