{% extends "main.html" %}

{% block htmltitle %}
  <title>Wormhole Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{% block content %}
  <div class="md-typeset">
    <div class="hero">
      <h1>Wormhole Documentation</h1>
      <p>Access all the information and resources you need to develop secure multichain applications powered by Wormhole.</p>
    </div>
    <div class="features">
      <h2>Explore by product</h2>
      <div class="row">
        <a class="card">
          <img src="./assets/images/dropdown-icons/transfers.svg" alt="Native Token Transfers">
          <div class="column">
            <h3>Native Token Transfers</h3>
            <p>Move native tokens across chains.</p>
          </div>
        </a>
        <a class="card">
          <img src="./assets/images/dropdown-icons/settlement.svg" alt="Settlement">
          <div class="column">
            <h3>Settlement</h3>
            <p>Bridge faster with intent-based routing.</p>
          </div>
        </a>
        <a class="card">
          <img src="./assets/images/dropdown-icons/connect.svg" alt="Connect">
          <div class="column">
            <h3>Connect</h3>
            <p>Drop a bridging widget into your app.</p>
          </div>
        </a>
      </div>
      <div class="row">
        <a class="card">
          <img src="./assets/images/dropdown-icons/multichain-assets.svg" alt="Token Bridge">
          <div class="column">
            <h3>Token Bridge</h3>
            <p>Bridge assets via lock and mint.</p>
          </div>
        </a>
        <a class="card">
          <img src="./assets/images/dropdown-icons/queries.svg" alt="Queries">
          <div class="column">
            <h3>Queries</h3>
            <p>Retrieve on-chain data on demand.</p>
          </div>
        </a>
        <a class="card">
          <img src="./assets/images/dropdown-icons/multigov.svg" alt="MultiGov">
          <div class="column">
            <h3>MultiGov</h3>
            <p>Create governance solutions.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="features">
      <h2>Level up with tutorials</h2>
      <div class="row">
        <a class="card">
          <div class="column">
            <h3>Create messaging contracts</h3>
            <p>Deploy contracts on two testnets and learn how to send and receive messages across chains.</p>
          </div>
        </a>
        <a class="card">
          <div class="column">
            <h3>Create a token transfer app</h3>
            <p>Build a cross-chain token transfer application using the Wormhole TypeScript SDK and Token Bridge.</p>
          </div>
        </a>
        <a class="card">
          <div class="column">
            <h3>Create a React bridging app</h3>
            <p>Enable seamless multichain transactions with minimal setup with React and Connect.</p>
          </div>
        </a>
      </div>
    </div>

    <!-- <div class="hero">
      <div class="hero-content">
        <h1>Build Multichain</h1>
        <p>Access all the information you need to develop secure multichain applications powered by Wormhole.
        </p>
        <div class="button-wrapper">
          <a href="build/start-building/">
            <button class="md-button start-building"><img src="./assets/images/wormhole-button-logo.webp">Start Building</button>
          </a>
          <a href="build/start-building/products/">
            <button class="md-button secondary">Explore Products</button>
          </a>       
        </div>
      </div>
      <video autoplay loop muted>
        <source src="./assets/images/hero-animation.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="integrate-products">
      <h2>How can you integrate Wormhole into your projects?</h2>
      <div class="product-cards">
        <a class="product-card" href="build/transfers/settlement/">
          <h3>Settlement</h3>
          <p>Intent-based protocol for fast multichain transfers with optimized liquidity.</p>
        </a>
        <a class="product-card" href="build/transfers/native-token-transfers/">
          <h3>Native Token Transfers</h3>
          <p>Transfer native tokens across chains—no conversion to wrapped assets required.</p>
        </a>
        <a class="product-card" href="build/transfers/token-bridge/">
          <h3>Token Bridge</h3>
          <p>A bridging solution that uses a lock and mint mechanism.</p>
        </a>
        <a class="product-card" href="build/transfers/connect/">
          <h3>Connect</h3>
          <p>A plug-and-play bridging UI for cross-chain token transfers.</p>
        </a>
        <a class="product-card" href="build/queries/">
          <h3>Queries</h3>
          <p>Fetch on-chain data from multiple networks to fuel analytics and insights.</p>
        </a>
        <a class="product-card" href="build/toolkit/typescript-sdk/">
          <h3>TypeScript SDK</h3>
          <p>Transform multichain development with a toolkit that minimizes complexity.</p>
        </a>
      </div>
    </div>
    <div class="explore-products">
      <img src="./assets/images/explore-products-bg.svg" alt="Explore Products">
      <div class="explore-products-content">
        <h2>Not sure which product to choose?</h2>
        <div class="button-wrapper">
          <a href="build/start-building/products/">
            <button class="md-button start-building"><img src="./assets/images/wormhole-button-logo.webp">Compare Products</button>
          </a>
          <a href="build/start-building/use-cases/">
            <button class="md-button secondary">See Use Cases</button>
          </a>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="feature-card">
        <h2>Discover Supported Networks</h3>
        <p>Build multichain applications with ease using the Wormhole SDK.</p>
        <a href="build/start-building/supported-networks/">
          <button class="md-button start-building">Browse Networks</button>
        </a>
      </div>
      <div class="feature-card">
        <h2>Explore Messaging Infrastructure</h3>
        <p>Build multichain applications with ease using the Wormhole SDK.</p>
        <a href="learn/infrastructure/architecture/">
          <button class="md-button start-building">Discover Architecture</button>
        </a>
      </div>
    </div>
    <div class="start-building-footer">
      <h3 class="">Future-proof, permissionless tooling to empower multichain builders</h3>
      <a href="tutorials/by-product/" class="btn md-typeset md-button start-building"><img src="./assets/images/wormhole-button-logo.webp">Level Up with Tutorials</a>
    </div> -->
  </div>
{% endblock %}
