{% extends "base.html" %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/wormhole.css' | url }}">
{% endblock %}

{% block fonts %}
  {#-
    Add Google Fonts here
  -#}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
{% endblock%}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for Wormhole</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 

{% block announce %}
  <div class="row">
    <div class="message row">
      <img src="/docs/assets/images/dev-arena-logo.svg">
      <div class="divider"></div>
      <p>Explore the Wormhole Dev Arena, a guided academy for multichain builders</p>
    </div>
    <a href="https://arena.wormhole.com" target="_blank"><button class="md-button primary">Start Building<i class="arrow">></i></button></a>
  </div>
{% endblock %}

{% block libs %}
  {{ super() }}

  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js" as="script">
  <script>
    function initAskCookbook() {
      // It's a public API key, so it's safe to expose it here
      const PUBLIC_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NmQ3MzdmOTE4MjcyOTljZGJlNTQ5ZDEiLCJpYXQiOjE3MjUzODA2MDEsImV4cCI6MjA0MDk1NjYwMX0.Qp6dEbLWFzju37NsD3VD3kNFGsHo8qJohXUSl5-lSiQ";

      let cookbookContainer = document.getElementById("__cookbook");
      if (!cookbookContainer) {
        cookbookContainer = document.createElement("div");
        cookbookContainer.id = "__cookbook";
        cookbookContainer.dataset.apiKey = PUBLIC_API_KEY;
        document.body.appendChild(cookbookContainer);
      }

      let cookbookScript = document.getElementById("__cookbook-script");
      if (!cookbookScript) {
        cookbookScript = document.createElement("script");
        cookbookScript.id = "__cookbook-script";
        cookbookScript.src = "https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js";
        cookbookScript.async = true;
        document.head.appendChild(cookbookScript);
      }
    }

    // Check if the document is already loaded and if so, initialize the script, otherwise wait for the load event
    if (document.readyState === "complete") {
      initAskCookbook();
    } else {
      window.addEventListener("load", initAskCookbook);
    }
  </script>
{% endblock %}

{% block site_nav %}
  {#- Navigation (left menu) -#}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--primary"
      data-md-component="sidebar"
      data-md-type="navigation"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}

  {#- Table of contents (TOC) -#}
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--secondary"
      data-md-component="sidebar"
      data-md-type="toc"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {#- TOC -#}
          {% include "partials/toc.html" %}
        </div>

        {#- Feedback and Edit this page container -#}
        <div class="feedback-actions-container">
          {#- Feedback Section -#}
          <div class="feedback-section">
            {% include "partials/feedback.html" %}
          </div>

          {#- Edit this Page Section -#}
          <div class="edit-section">
            {% include "partials/actions.html" %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      document.body.addEventListener('click', (event) => {
        if (event.target.tagName === 'ASK-COOKBOOK') {
          event.target.addEventListener('keydown', (event) => {
            event.stopPropagation();
          });
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      function setTableHeaderOffset(navbarSelector, tableSelector) {
        const navbar = document.querySelector(navbarSelector);
        const navbarHeight = navbar ? navbar.offsetHeight : 0;

        // Loop through each table
        document.querySelectorAll(tableSelector).forEach((tableWrapper) => {
          const thead = tableWrapper.querySelector('thead');
          const tbody = tableWrapper.querySelector('tbody');
          const table = tableWrapper.querySelector('table');

          // This blocking div is used to prevent the left and right borders from
          // sticking out of the top of the table
          const blockingDiv = tableWrapper.querySelector('.header-blocker');
          thead.style.top = `${navbarHeight}px`;
          if (blockingDiv) {
            // If the blocker div already exists, modify the styles          
            blockingDiv.style.top = `${navbarHeight}px`;
            return;
          } else {
            // Create the blocker div and append it below the header and modify styles           
            const blockingDiv = document.createElement('div');
            blockingDiv.classList.add('header-blocker');
            tableWrapper.appendChild(blockingDiv);
            blockingDiv.style.top = `${navbarHeight}px`;
          }
        });
      }

      // Call it on load and on resize:
      window.addEventListener('load', () => setTableHeaderOffset('.md-header', '.md-typeset__table'));
      window.addEventListener('resize', () => setTableHeaderOffset('.md-header', '.md-typeset__table'));
    });
  </script>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const copyTxtFile = async (url) => {
        try {
            const response = await fetch(url);
            const text = await response.text();
            await navigator.clipboard.writeText(text);

            const copiedToClipboard = document.querySelector('.md-dialog');
            if (copiedToClipboard) {
              copiedToClipboard.classList.add('md-dialog--active');

              const copiedToClipboardMessage =
                copiedToClipboard.querySelector('.md-dialog__inner');
              if (
                copiedToClipboardMessage &&
                copiedToClipboardMessage.textContent !==
                  "{{ lang.t('clipboard.copied') }}"
              ) {
                copiedToClipboardMessage.textContent =
                  "{{ lang.t('clipboard.copied') }}";
              }
              // Set a timer to remove the after 3 seconds (3000ms)
              setTimeout(() => {
                copiedToClipboard.classList.remove('md-dialog--active');
              }, 2000);
            }
          } catch (err) {
            console.error('Failed to copy:', err);
            copiedToClipboard.classList.remove('md-dialog--active');
          }
      }

      document.querySelectorAll('.llms').forEach(button => {
        button.addEventListener('click', (event) => {
          event.preventDefault(); // Prevent default link behavior

          const action = button.getAttribute('action');
          const fileName = button.getAttribute('data-value');
          if (!fileName) return; // Exit if no file name is found

          // Add 'llms-files/' prefix except for root-level llms.txt and llms-full.txt
          const filePath = (fileName === "llms.txt" || fileName === "llms-full.txt") 
            ? fileName 
            : `llms-files/${fileName}`;

          // const url = `https://wormhole.com/docs/${filePath}`;
          const url = `https://papermoonio.github.io/wormhole-mkdocs/${filePath}`;

          if (action === 'copy') {
            copyTxtFile(url, fileName);
          }
        })
      })
    });
  </script>
{% endblock %}

{%- block container -%} 
  <div class="md-content" data-md-component="content">
    {% set class = "index-page" if not page.content and not page.is_homepage %}
    <article class="md-content__inner md-typeset {{ class }}">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{%- endblock -%} 

