{% extends "base.html" %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/wormhole.css' | url }}">
{% endblock %}

{% block fonts %}
  {#-
    Add Google Fonts here
  -#}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock%}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}">
  {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for Pepe</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 

{%- block container -%} 
  <div class="md-content" data-md-component="content">
    {% set class = "index-page" if not page.content and not page.is_homepage %}
    <article class="md-content__inner md-typeset {{ class }}">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{%- endblock -%} 