{% extends "main.html" %}

{% block content %}
  <div class="scalar-wrapper">
    <div id="app"></div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Load the Script -->
  <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
  <!-- Initialize the Scalar API Reference -->
  <script>
    Scalar.createApiReference('#app', {
      // Configuration can be added here
      hideClientButton: true,
      // The URL of the OpenAPI/Swagger document
      url: '{{ base_url }}/openapi.yaml',
      // Avoid CORS issues
      proxyUrl: 'https://proxy.scalar.com',
    })
  </script>
{% endblock %}

{% block site_nav %}
{% endblock %}
