{% extends "main.html" %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/index-page.css' | url }}">
{% endblock %}

{% block content %}
  {{ super() }}
  <!-- <div class="disclaimer"></div> -->
{% endblock %}

{% block site_nav %}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner main-page-sidebar">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/toc.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}