h1,
h2,
h3 {
  text-transform: uppercase;
}

.md-typeset {
  font-family: var(--md-nav-labels-font);
}

/* Styles for the hero section */
.hero {
  display: flex;
  text-align: left;
  padding: 0 0 1em 0;
  align-items: center;
  min-height: 50em;
  margin-top: -8em;
}

.hero-content {
  position: relative;
  width: 49%;
  z-index: 1;
  padding: 2em 0;
}

.md-typeset .hero video {
  position: absolute;
  z-index: -1;
  max-width: 61rem;
  margin-right: auto;
  object-fit: fill;
  object-position: center;
  margin-left: 4em;
}

.hero h1 {
  font-size: 120px;
  line-height: var(--header-line-height);
  margin-bottom: 0;
}

.hero p {
  font-size: var(--body-l-desktop-size);
  margin: 3em 0 3.5em;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* Styles for the featured content section */
.featured-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(../images/home-background.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 9em;
  gap: 1em;
}

.feature {
  text-align: center;
  padding: 1em;
  flex: 1 1;
  max-width: 44%;
  border-radius: var(--md-border-radius);
  border: var(--md-border-width) solid var(--grey);
  color: var(--md-default-fg-color);
  height: 30em;
}

.feature.one {
  background:
  radial-gradient(circle at bottom, 
    rgba(255, 255, 255, 0.08) 0%, /* White at the center */
    rgba(193, 187, 246, 0.1) 35%, /* Fading outwards */
    rgba(255, 255, 255, 0) 80%),
  url(../images/card-1.webp),
  #0A0A0A;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.feature.two {
  background:
  radial-gradient(circle at bottom, 
    rgba(255, 255, 255, 0.08) 0%, /* White at the center */
    rgba(193, 187, 246, 0.1) 35%, /* Fading outwards */
    rgba(255, 255, 255, 0) 80%),
  url(../images/card-2.webp),
  #0A0A0A;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.feature.three {
  background:
  radial-gradient(circle at bottom, 
    rgba(255, 255, 255, 0.08) 0%, /* White at the center */
    rgba(193, 187, 246, 0.1) 35%, /* Fading outwards */
    rgba(255, 255, 255, 0) 80%),
  url(../images/card-3.webp),
  #0A0A0A;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.feature a {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.md-typeset .feature a:hover {
  border-color: #8886ab;
  background-color: #8886ab;
  opacity: 1;
}

.md-typeset .feature .md-button {
  margin: 2em auto;
}

.feature h2 {
  color: var(--md-default-fg-color);
  font-size: 36px;
  margin: 1em auto 0;
  margin-bottom: 0;
  line-height: 90%;
}

.feature p {
  font-size: var(--body-l-desktop-size);
  margin: 1em 1em 0;
  min-height: 5em;
}

.start-building-section {
  padding: 5em 0 3em;
}

.start-building-section h3 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 90%;
  width: 66%;
}

.start-building.md-button {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1em;
  padding: .9em 2.35em;
}

.start-building-section .row {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

.start-building img {
  height: 30px;
  width: 30px;
}

/* Mobile styling */
@media screen and (max-width: 76.234375em) {
  .md-content__inner {
    padding: 1em;
  }

  .hero {
    margin-top: -5em;
  }

  .feature p {
    min-height: 7em;
  }
}

@media screen and (max-width: 66em) {
  .hero {
    min-height: unset;
    padding-bottom: 3em;
    margin-top: -1em;
  }

  .hero h1 {
    font-size: 90px;
  }

  .hero-content {
    width: 100%;
  }

  .md-typeset .hero video {
    display: none;
  }

  .featured-content {
    justify-content: space-evenly;
    gap: 1.5em;
    padding-bottom: 5em
  }

  .feature {
    min-width: 21em;
  }
}

@media screen and (max-width: 47.5em) {
  .hero {
    margin-top: 0;
  }
  
  .hero-content {
    padding: unset;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: var(--body-l-desktop-size);
  }

  .button-wrapper .md-button {
    font-size: var(--caption-m-desktop-size);
  }

  .feature {
    min-width: 66%;
  }

  .feature h2 {
    font-size: var(--h3-desktop-size);
  }

  .feature p {
    margin: 1em 1em 0;
    min-height: unset;
  }

  .start-building-section .row {
    flex-direction: column;
  }

  .start-building-section h3 {
    font-size: var(--h2-desktop-size);
    width: 100%;
  }

  .start-building-section a.md-typeset.md-button {
    width: fit-content;
    margin-top: 1em;
  }
}

@media screen and (max-width: 30.125em) { 
  .md-content__inner {
    padding: 0;
    margin: 0 1.2rem;
  }

  .start-building-section h3 {
    font-size: var(--h3-desktop-size);
  }

  .button-wrapper {
    justify-content: left;
  }

  .button-wrapper .md-button {
    min-width: 50vw;
  }

  .feature {
    height: 26em;
    min-width: 100%;
    padding: 0;
  }
}