.md-typeset h1 {
  font-size: 120px;
  line-height: 108px;
}

.md-typeset h2 {
  font-size: 72px;
  line-height: 72px;
}

.md-typeset.md-content__inner a {
  text-decoration: none;
}

.md-main__inner {
  max-width: unset;
}

.md-content__inner {
  padding: 1em;
}

/** ------------------------
 Styles for the hero section
------------------------ **/
.hero {
  display: flex;
  text-align: left;
  padding: 0;
  align-items: center;
  min-height: 50em;
  max-width: 61rem;
  margin: auto;
  margin-top: -8em;
}

.hero-content {
  position: relative;
  width: 49%;
  z-index: 1;
  padding: 2em 0;
}

.md-typeset .hero video {
  position: absolute;
  z-index: -1;
  max-width: 61rem;
  margin-right: auto;
  object-fit: fill;
  object-position: center;
  margin-left: 4em;
}

.hero h1 {
  font-size: 120px;
  margin-bottom: 0;
}

.hero p {
  font-size: var(--body-text-size);
  margin: 4em 0 6em;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/** ---------------------------
 Styles for the product section
--------------------------- **/
.integrate-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 61rem;
  margin: auto;
}

.integrate-products h2 {
  max-width: 75%;
  margin: 0;
  text-align: center;
}

.product-cards {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 90%;
  gap: .75em;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/card-bg.png), #1C1C1C;
  background-size: cover;
  border-radius: 16px;
  padding: 32px 0;
}

.product-card > * {
  padding: 0 32px;
  min-height: 44px;
  height: 100%;
}

.product-card > *:nth-child(2) {
  border-left: 1px solid #FFFFFF26;
  border-right: 1px solid #FFFFFF26;
}

.product-card h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  align-content: center;
  flex: 18%;
}

.product-card p {
  color: #A09FA1;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0;
  flex: 25%;
}

.product-card a {
  font-family: var(--md-cta-font);
  text-transform: var(--md-cta-text-style);
  font-weight: 500;
  font-size: 11px;
  line-height: 13.2px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  flex: 10%;
}

.md-typeset .twemoji svg {
  width: 20px;
  height: 20px;
}

/** --------------------------------
 Styles for explore products section
-------------------------------- **/
.explore-products {
  background: url(../images/explore-products-bg.png) no-repeat center center;
  background-size: cover;
  width: 80%;
  margin: auto;
}

.explore-products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  padding-top: 5em;
}

.explore-products h2 {
  margin-top: .5em;
  text-align: center;
}

.explore-products .button-wrapper a {
  flex: 1;
}

.explore-products .md-button {
  width: 100%;
}

/** -----------------------
 Styles for feature section
----------------------- **/
.feature {
  max-width: 61rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: -5em;
}

.feature-card {
  border-radius: 16px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feature-card:nth-child(1){
  background: url(../images/card-1.svg) no-repeat center center,  #1C1C1C;
  background-size: cover;
}

.feature-card:nth-child(2){
  background: url(../images/card-2.svg) no-repeat center center, #1C1C1C;
  background-size: cover;
}

.feature-card .start-building.md-button {
  padding: 1.6em 2.35em;
  margin-top: 5em;
}

.feature-card h2 {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.feature-card a {
  margin-top: auto;
}

/** -----------------------------
 Styles for start building footer
----------------------------- **/
.start-building-footer {
  padding: 5em 0 3em;
  max-width: 61rem;
  margin: auto;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.start-building-footer h3 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  width: 66%;
}

.start-building.md-button {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1em;
  padding: 0.9em 2.35em;
}

.start-building img {
  height: 30px;
  width: 30px;
}

/* Mobile styling */
@media screen and (max-width: 78.25em) {
  [dir='ltr'] .md-header__title {
    padding-left: 1em;
  }

  .md-header__title > .md-header__ellipsis {
    width: 11em;
  }

  .product-card a {
    flex: 15%;
  }

  .explore-products {
    width: 100vw;
    margin-left: -2em;
  }

  .integrate-products h2 {
    max-width: 90%;
  }
}

@media screen and (max-width: 76.234375em) {
  .hero {
    margin-top: -10em;
  }

  .hero p {
    margin: 3em 0;
  }
}

@media screen and (max-width: 70em) {
  .product-cards {
    max-width: unset;
  }
}

@media screen and (max-width: 66em) {
  .hero {
    min-height: unset;
    padding-bottom: 3em;
    margin-top: 0;
  }

  .md-typeset h1 {
    font-size: 90px;
  }

  .hero-content {
    width: 100%;
    padding-top: 0;
  }

  .hero p {
    margin: 0 0 3em;
  }

  .md-typeset .hero video {
    display: none;
  }

  .md-typeset h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .md-typeset .product-card h3 {
    font-size: 28px;
    line-height: 28px;
  }

  .product-card a {
    justify-content: left;
  }

  .explore-products {
    padding: 0 1em;
  }

  .explore-products h2 {
    max-width: 75%;
  }

  .feature {
    margin-top: -4em;
  }

  .feature-card h2,
  .start-building-footer h3 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 47.5em) {
  .md-main__inner {
    margin-top: 2em;
  }

  .md-content__inner {
    padding: 0;
  }

  .hero {
    padding-bottom: 5em;
  }

  .hero-content {
    padding: unset;
  }

  .hero h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero p {
    margin: 0 0 2em;
  }

  .button-wrapper .md-button {
    font-size: var(--caption-size);
  }

  .product-card {
    flex-direction: column;
  }

  .product-card > *:nth-child(2) {
    border: none;
  }

  .md-typeset .product-card h3 {
    text-align: center;
  }

  .explore-products {
    margin-left: -1em;
  }

  .md-typeset h2 {
    font-size: 48px;
    line-height: 48px;
  }

  .feature {
    margin-top: -6em;
    flex-direction: column;
  }

  .feature-card h2,
  .start-building-footer h3 {
    font-size: 36px;
    line-height: 36px;
  }

  .feature-card .start-building.md-button {
    margin-top: 2em;
  }

  .start-building-footer {
    flex-direction: column;
    padding: 3em 0 1em;
  }

  .start-building-footer h3 {
    width: 100%;
  }

  .start-building.md-button {
    width: fit-content;
  }
}

@media screen and (max-width: 32.125em) {
  .md-main {
    padding: 0;
  }

  .md-content__inner {
    margin: 0 1.2rem;
  }

  .start-building-section h3 {
    font-size: 26px;
  }

  .button-wrapper {
    justify-content: left;
    flex-direction: column;
    max-width: 90%;
  }

  .explore-products {
    margin-left: -1.5em;
    background-position: left;
  }  

  .explore-products-content {
    height: unset;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .feature {
    margin-top: 1em;
  }
}
